// overwrite variables here
$primary: #2a9de6;
$secondary: #46b04d;
$success: #46b04d;
$warning: #e9c46a;
$dark-blue: #0e6499;

$font-family-base: 'dolly-new', serif;

$navbar-brand-font-size: 2rem;
$nav-link-font-size: 1.25rem;

// stays at bottom
@import "~bootstrap/scss/bootstrap";

.btn {
  color: white;
}

.navbar {
  background-color: $dark-blue;
}

.navbar-brand {
  font-family: 'lust', serif;
  color: white;
  text-align: center;
}

#search {
  width: 100%;
  height: 70vh;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/images/woods-cleanup.jpg');
  background-position: center;
  color: white;
  
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: capitalize;
    margin: 5px 0;
  }

  p {
    font-size: 2rem;
  }
}

.input-group {
  .btn {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#about {
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/images/beach-plastic.jpg');
}

@media (min-width: 576px) {
  .input-group {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .input-group {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .input-group {
    width: 40%;
  }
}

@media (min-width: 1200px) { 
  .input-group {
    width: 30%;
  }
}