:root {
  --yellow: #e9c46a;
  --blue: #2a9de6;
  --green: #46b04d;
  --dark-blue: #0e6499;
  --error: rgb(226, 15, 15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'dolly-new', serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
  text-transform: capitalize;
}

h1 {
  color: white;
  font-family: 'lust', serif;
}

h2 {
  font-size: 4rem;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--dark-blue);
}

nav a {
  font-family: 'dolly-new', serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
}

#logo {
  text-transform: initial;
}

#search {
  height: 80vh;
  background-image: url('./assets/images/woods-cleanup.jpg');
  background-position: center;
  text-align: center;
}

#search p {
  font-size: 2rem;
}

/* #search::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: .8s;
  z-index: 1;
} */

.none {
  display: none;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}